*
{
    margin: 0;
    padding: 0;
}

*, *:before, *:after {
  -webkit-box-sizing: border-box; 
  -moz-box-sizing: border-box; 
  box-sizing: border-box;
}





.inFocus {
    opacity: 1;
}

.outOfFocus {
    opacity: 0.5;
}





html {
    scroll-behavior: smooth;
    scroll-padding-top: 48px; /* height of top padding */
}

body {
    font-family: Helvetica, sans-serif;
    background-color: #fcf8f8;
}

div.center {
    margin-right: auto;
    margin-left: auto;
}

div.sticky {
    position: -webkit-sticky;
    position: sticky;
    top: 0;
}

div.column {
    float: left;
    width: 50%;
}

h1, h2, h3, h4, h5, h6, p {
    text-rendering: optimizeLegibility;
}





div#wrapper {
    display: flex;
    width: 880px;
}

    div#wrapper > div {
        padding: 48px 0px;
    }

div#fadetop {
    pointer-events: none;
    height:64px;
    width:100%;
    position:fixed;
    top:0;
    background: linear-gradient(to bottom,  rgba(252,248,248,1) 20%, rgba(252,248,248,0) 80%);
    background: -moz-linear-gradient(top,  rgba(252,248,248,1) 20%, rgba(252,248,248,0) 80%);
    background: -webkit-gradient(linear, left top, left bottom, color-stop(20%,rgba(252,248,248,1)), color-stop(80%,rgba(252,248,248,0)));
    background: -webkit-linear-gradient(top,  rgba(252,248,248,1) 20%, rgba(252,248,248,0) 80%);
    background: -o-linear-gradient(top,  rgba(252,248,248,1) 20%, rgba(252,248,248,0) 80%);
    background: -ms-linear-gradient(top,  rgba(252,248,248,1) 20%, rgba(252,248,248,0) 80%);
    filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#fffcf8f8', endColorstr='#00fcf8f8',GradientType=0 );
}

div#fadebottom {
    pointer-events: none;
    height:64px;
    width:100%;
    position:fixed;
    bottom:0;
    background: linear-gradient(to bottom,  rgba(252,248,248,0) 20%, rgba(252,248,248,1) 80%);
    background: -moz-linear-gradient(top,  rgba(252,248,248,0) 20%, rgba(252,248,248,1) 80%);
    background: -webkit-gradient(linear, left top, left bottom, color-stop(20%,rgba(252,248,248,0)), color-stop(80%,rgba(252,248,248,1)));
    background: -webkit-linear-gradient(top,  rgba(252,248,248,0) 20%, rgba(252,248,248,1) 80%);
    background: -o-linear-gradient(top,  rgba(252,248,248,0) 20%, rgba(252,248,248,1) 80%);
    background: -ms-linear-gradient(top,  rgba(252,248,248,0) 20%, rgba(252,248,248,1) 80%);
    filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#00fcf8f8', endColorstr='#fcf8f8',GradientType=0 );
}





div#sidebar {
    height: 300px;
    width: 160px;
    float: left;
    text-align: center;
    
    margin-right: 40px; /* spacing between main column divs */
}

    div#sidebar > h1,h2,h3 {
        color: black;
        font-family: 'Courier New', monospace;
    }

    div#sidebar > h1 {
        font-size: 32pt;
    }

    div#sidebar > h2 {
        font-size: 17.5pt;
    }

    div#sidebar ul#links {
        display: flex;
        justify-content: center;
    }

    div#sidebar ul#links li {
        display: inline-block;
        padding: 0px 2px;
    }

    div#sidebar ul#links li:hover {
        opacity: 0.6;
    }

    div#sidebar ul#links li img {
        max-width: 24px;
    }





div#main {
    height: auto;
    width: 680px;
    float: right;
}

    div#projects > div:last-child > span h5 {
        padding-bottom: 14px;
    }

    div#projects-twocols {
        padding-top: 2px;
    }

    div#projects-twocols > div:first-child {
        padding-right: 22px; /* 16 + 6 */
    }

    div#projects-twocols > div:last-child {
        padding-left: 6px;
        padding-right: 16px;
    }


    div.projectitem {
        height: auto;
        width: 100%;
        margin-bottom: 20px;
        overflow: hidden;
        
        -webkit-transition: opacity 0.2s ease-in-out;
        -moz-transition: opacity 0.2s ease-in-out;
        transition: opacity 0.2s ease-in-out;
    }


    div.projectitem img {
        display: inline-block;
        float: left;
        border-radius: 8px;
    }

    div#projects div.projectitem img {
        height: 200px;
        width: 200px;
    }

    div#projects-twocols div.projectitem img {
        height: 100px;
        width: 100px;
        background-color: red;
        margin-right: 10px;
    }


    div#projects div.projectitem span {
        float: right;
        max-width: 480px; /* 680 - 200 (img) */
        padding: 0px 16px;
    }

    div#projects-twocols div.projectitem span {
        max-width: 230px; /* (680/2) - 100 (img) - (20/2) (column spacing) */
        padding: 0px;
    }


    div.projectitem span a {
        color: black;
        text-decoration: underline;
    }

    div.projectitem span a:hover {
        color: #555;
    }


    div#projects div.projectitem span h4 {
        padding-top: 6px;
        font-size: 20px;
    }

    div#projects-twocols div.projectitem span h4 {
        font-size: 18px;
    }


    div.projectitem span h5 {
        text-align: center;
        padding-top: 6px;
    }

    div#projects div.projectitem span h5 {
        font-size: 18px;
    }

    div#projects-twocols div.projectitem span h5 {
        font-size: 17px;
    }


    div.projectitem span p {
        font-size: 17px;
        text-align: justify;
        padding-top: 6px;
    }